<div class="bighalftransbox col-xs-11"
	ng-controller="blogDetailsController as blogDetailsCtrl">
	<h4>
		<small><a ui-sref="blog">Назад</a></small>
	</h4>
	<hr>
	<article>
		<hr>
		<h2>{{blogDetailsCtrl.blog.title}}</h2>
		<h5>
			<span class="glyphicon glyphicon-time"></span> Posted
			{{blogDetailsCtrl.blog.dateCreated | date : "fullDate" }}
		</h5>
		<br>
		<p ng-bind-html="blogDetailsCtrl.blog.content | trust"></p>
		<hr>

	</article>
	<hr>

	<div ng-show="isLoggedIn()">
		<h4>Оставить комментарий:</h4>
		<div class="form-group">
			<textarea class="form-control"
				ng-model="blogDetailsCtrl.newComment.content" rows="3" required></textarea>
		</div>
		<button ng-click="blogDetailsCtrl.sendNewComment()"
			class="btn btn-success">Отправить</button>
	</div>
	<br> <br>

	<p>Comments:</p>
	<br>

	<div class="row" ng-repeat="comment in blogDetailsCtrl.comments">
		<div class="col-sm-2 text-center">
			<img ng-src="{{comment.author.imageLink}}" class="img-circle"
				height="65" width="65" alt="Avatar">
		</div>
		<div class="col-sm-10">
			<h4>
				{{comment.author.username}} <small>{{comment.dateCreated |
					date : "fullDate"}}</small>
				<button type="button" class="btn btn-default btn-sm" ng-click="blogDetailsCtrl.deleteComment(comment)" ng-show="isAuthor(comment.author.username) || isEditor()">
					<span class="glyphicon glyphicon-trash"></span> Trash
				</button>
			</h4>
			<p>{{comment.content}}</p>
			<br>
			<hr />
		</div>
	</div>

</div>