<div class="bighalftransbox col-xs-11"
	ng-controller="blogController as blogCtrl">
	<h4>
		<small>RECENT POSTS</small>
	</h4>

	<article>
		<hr>
		<h2>А здесь будешь писать посты о нелегкой судьбе звезды))</h2>
		<h5>
			<span class="glyphicon glyphicon-time"></span> Posted Sep 24, 2015.
		</h5>
		<h5>
			<span class="label label-success">Lorem</span>
		</h5>
		<br>
		<p>Ура, я написал свой первый пост!!!</p>
		<hr>
		<p>
			<a ui-sref="blogDetails({blogId:blogCtrl.blog.blogId})">Читать
				далее</a>
		</p>
		<p>
			<a ui-sref="blogDetails({blogId:blogCtrl.blog.blogId})"><span
				class="badge">2</span> Comments:<br></a>
		</p>
	</article>

	<hr
		style="height: 1px; border: none; color: #555; background-color: #555;">

	<article>
		<hr>
		<h2>Officially Blogging</h2>
		<h5>
			<span class="glyphicon glyphicon-time"></span> Posted Sep 24, 2015.
		</h5>
		<h5>
			<span class="label label-success">Lorem</span>
		</h5>
		<br>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
			eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
			ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
			aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat
			non proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		<hr>
		<p>
			<a ui-sref="blogDetails({blogId:blogCtrl.blog.blogId})">Читать
				далее</a>
		</p>
		<p>
			<a ui-sref="blogDetails({blogId:blogCtrl.blog.blogId})"><span
				class="badge">0</span> Comments:<br></a>
		</p>
	</article>
</div>