<div class="bighalftransbox col-xs-11"
	ng-controller="blogController as blogCtrl">
	<h4>
		<small>RECENT POSTS</small>
	</h4>

	<!-- ADD NEW -->
	<div ng-show="isEditor()">
		<h2>Добавить новую запись в блог</h2>
		<p>Заголовок к записи:</p>
		<p>
			<textarea rows="1" cols="45" name="text" ng-model="blogCtrl.newBlog.title"></textarea>
		</p>
		<p>Текст:</p>
		<p>
			<textarea rows="7" cols="45" name="text" ng-model="blogCtrl.newBlog.content"></textarea>
		</p>
		<button class="btn btn-default" ng-show="isEditor()" ng-click="blogCtrl.addNewBlog()">Добавить запись</button>
	<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>
	<div ng-repeat="blog in blogCtrl.data">
	<button class="btn btn-default" ng-show="isEditor()" ng-init="editMode = false" ng-click="editMode = !editMode">Edit</button>
		<article>
			<hr>
			<h2>{{blog.title}}</h2>
			<h5>
				<span class="glyphicon glyphicon-time"></span> Posted {{blog.dateCreated | date : "fullDate" }}
			</h5>
			<br>
			<p ng-bind-html="blog.content | trust"></p>
			<hr>
			<p>
				<a ui-sref="blogDetails({blogId:blog.blogId})">Читать комментарии</a>
			</p>
		</article>
		<div ng-show="editMode && isEditor()">
			<h2>Редактировать запись</h2>
			<p>Заголовок к записи:</p>
			<p>
				<textarea rows="1" cols="45" name="text" ng-model="blog.title"></textarea>
			</p>
			<p>Сама запись:</p>
			<p>
				<textarea rows="3" cols="45" name="text" ng-model="blog.content"></textarea>
			</p>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="blogCtrl.updateBlog(blog)">Сохранить запись</button>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="blogCtrl.deleteBlog(blog)">Удалить запись</button>
		</div>
		<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>
	


</div>