<div class="bighalftransbox col-xs-11"
	ng-controller="blogDetailsController as blogCtrl">
	<h4>
		<small><a ui-sref="blog">Назад</a></small>
	</h4>
	<hr>
	<h2>Мой первый пост!!</h2>
	<h5>
		<span class="glyphicon glyphicon-time"></span> Posted Sep 24, 2015.
	</h5>
	<h5>
		<span class="label label-success">Lorem</span>
	</h5>
	<br>
	<p>Ура, я написал свой первый пост!!!</p>
	<hr>

	<h4>Leave a Comment:</h4>
	<form role="form">
		<div class="form-group">
			<textarea class="form-control" rows="3" required></textarea>
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
	<br>
	<br>

	<p>
		<span class="badge">2</span> Comments:
	</p>
	<br>

	<div class="row">
		<div class="col-sm-2 text-center">
			<img src="img/RyabaTest.jpg" class="img-circle" height="65"
				width="65" alt="Avatar">
		</div>
		<div class="col-sm-10">
			<h4>
				Ryabova <small>Sep 29, 2015, 9:12 PM</small>
			</h4>
			<p>Серж, ты крут!!!!</p>
			<br>
		</div>

		<hr />
		<div class="col-sm-2 text-center">
			<img src="img/TanyaTest.jpg" class="img-circle" height="65"
				width="65" alt="Avatar">
		</div>
		<div class="col-sm-10">
			<h4>
				Танюха <small>Sep 25, 2015, 8:25 PM</small>
			</h4>
			<p>Мы тебя любим!!!!</p>

		</div>
	</div>
</div>