<div class="bighalftransbox col-xs-11"
	ng-controller="blogController as blogCtrl">
	<h1>Сюда будешь постить фотки</h1>
	<article>
		<h3>Первое фото</h3>
		<p>Это я</p>
		<img src="https://pp.vk.me/c637216/v637216003/d2f0/CazO6ukv0fE.jpg" alt="Tkachen"
			style="width: 100%; max-width:600px;">
	</article>
	<hr
		style="height: 1px; border: none; color: #555; background-color: #555;">
	<article>
		<h3>Второе фото</h3>
		<p>И это я</p>
		<img src="https://pp.vk.me/c637131/v637131003/964e/5VQ-8uFfrzs.jpg" alt="Tkachen"
			style="width: 100%; max-width:600px;">
	</article>
	<hr
		style="height: 1px; border: none; color: #555; background-color: #555;">
	<p>и т.д.....</p>
</div>