<div class="bighalftransbox col-xs-11 ">


	<!-- ADD NEW -->
	<div ng-show="isEditor()">
		<h2>Добавить фото</h2>
		<p>Заголовок к фото:</p>
		<p><textarea rows="1" cols="45" name="text" ng-model="photoCtrl.newPhoto.title"></textarea></p>
		<p>Комментарий к фото:</p>
		<p><textarea rows="3" cols="45" name="text" ng-model="photoCtrl.newPhoto.description"></textarea></p>
		<p>Ссылка на фото (http//....):</p>
		<p><textarea rows="3" cols="45" name="text" ng-model="photoCtrl.newPhoto.imageLink"></textarea></p>
		<button class="btn btn-default" ng-show="isEditor()" ng-click="photoCtrl.addNewPhoto()">Добавить фото</button>
		<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>

	<h1>Мои фото</h1>
	<div class="btn-group">
		<button type="button" class="btn btn-default"
			ng-click="photoCtrl.showPrevPage()">prev</button>
		<button type="button" class="btn btn-default"
			ng-click="photoCtrl.showNextPage()">next</button>
		
	</div>
	<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	<div ng-repeat="photo in photoCtrl.data">
		<button class="btn btn-default" ng-show="isEditor()" ng-init="editMode = false" ng-click="editMode = !editMode">Edit</button>
		<article>
			<h3>{{photo.title}}</h3>
			<p>{{photo.description}}</p>
			<div class="photoWrapper">
				<img alt={{photo.title}} ng-src={{photo.imageLink}} style='height: 100%; width: 100%; object-fit: contain; max-width: 600px;'>
			</div>
		</article>
		<div ng-show="editMode && isEditor()">
			<h2>Редактировать фото</h2>
			<p>Заголовок к фото:</p>
			<p>
				<textarea rows="1" cols="45" name="text" ng-model="photo.title"></textarea>
			</p>
			<p>Комментарий к фото:</p>
			<p>
				<textarea rows="3" cols="45" name="text" ng-model="photo.description"></textarea>
			</p>
			<p>Ссылка на фото (http//....):</p>
			<p>
				<textarea rows="3" cols="45" name="text" ng-model="photo.imageLink"></textarea>
			</p>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="photoCtrl.updatePhoto(photo)">Сохранить фото</button>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="photoCtrl.deletePhoto(photo)">Удалить фото</button>
		</div>
		<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>
</div>