<div class="bighalftransbox col-xs-11 "
	ng-controller="blogController as blogCtrl">
	<h1>Сюда ты будешь грузить свои видео</h1>
	<article>
		<h3>Видео номер раз</h3>
		<p>Вот такие клипы я записываю</p>
		<div class="videoWrapperWrapper">
			<div class="videoWrapper">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/w7hRZS-nLhY" allowfullscreen></iframe>
			</div>
		</div>
	</article>
	<hr style="height:1px; border:none; color:#555; background-color:#555;">
	<article>
		<h3>А вот еще один мой клип</h3>
		<p>Смотрите и завидуйте</p>
		<div class="videoWrapperWrapper"> 
			<div class="videoWrapper">
				<iframe  width="560" height="315" src="https://www.youtube.com/embed/-13I_VF5d4k"  allowfullscreen></iframe>
			</div>
		</div>
	</article>
	<hr style="height:1px; border:none; color:#555; background-color:#555;">
	<p>и т.д.....</p>
</div>