<div class="bighalftransbox col-xs-11 ">


	<!-- ADD NEW -->
	<div ng-show="isEditor()">
		<h2>Добавить видео</h2>
		<p>Заголовок к видео:</p>
		<p><textarea rows="1" cols="45" name="text" ng-model="videoCtrl.newVideo.title"></textarea></p>
		<p>Комментарий к видео:</p>
		<p><textarea rows="3" cols="45" name="text" ng-model="videoCtrl.newVideo.description"></textarea></p>
		<p>Ссылка из Youtube (поделиться -> HTML-код):</p>
		<p><textarea rows="3" cols="45" name="text" ng-model="videoCtrl.newVideo.youTubeLink"></textarea></p>
		<button class="btn btn-default" ng-show="isEditor()" ng-click="videoCtrl.addNewVideo()">Добавить видео</button>
		<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>

	<h1>Мои видео</h1>
	<div class="btn-group">
		<button type="button" class="btn btn-default"
			ng-click="videoCtrl.showPrevPage()">prev</button>
		<button type="button" class="btn btn-default"
			ng-click="videoCtrl.showNextPage()">next</button>
	</div>
	<hr style="height: 1px; border: none; color: #555; background-color: #555;">		
	<div ng-repeat="video in videoCtrl.data">
		<button class="btn btn-default" ng-show="isEditor()" ng-init="editMode = false" ng-click="editMode = !editMode">Edit</button>
		<article>
			<h3>{{video.title}}</h3>
			<p>{{video.description}}</p>
			<div class="videoWrapperWrapper">
				<div class="videoWrapper">
					<span ng-bind-html="video.youTubeLink | trust"></span>
				</div>
			</div>
		</article>
		<div ng-show="editMode && isEditor()">
			<h2>Редактировать видео</h2>
			<p>Заголовок к видео:</p>
			<p>
				<textarea rows="1" cols="45" name="text" ng-model="video.title"></textarea>
			</p>
			<p>Комментарий к видео:</p>
			<p>
				<textarea rows="3" cols="45" name="text" ng-model="video.description"></textarea>
			</p>
			<p>Ссылка из Youtube (поделиться -> HTML-код):</p>
			<p>
				<textarea rows="3" cols="45" name="text" ng-model="video.youTubeLink"></textarea>
			</p>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="videoCtrl.updateVideo(video)">Сохранить видео</button>
			<button class="btn btn-default" ng-show="isEditor()" ng-click="videoCtrl.deleteVideo(video)">Удалить видео</button>
		</div>
		<hr style="height: 1px; border: none; color: #555; background-color: #555;">
	</div>
</div>